# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# Native providers (.so is built by scripts/build_android_native.ps1)
**/jniLibs/**/*.so
**/jniLibs/**/*.h

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
app.*.symbols
app.*.map.json
/coverage/
